// color.uisdc.com
success-color = #0eb83a // 葱倩

success-color-light = #00e079 // 青色

success-color-dark = #0aa344 // 青葱

primary-color = #177cb0 // 靛青

primary-color-light = #44cef6 // 蓝

primary-color-dark = #065279 // 靛蓝

warning-color = #ffa631 // 杏黄

warning-color-light = #ffc773 // 姜黄

warning-color-dark = #ff8936 // 橘黄

error-color = #ff461f // 朱砂

error-color-light = #ff4c00 // 朱红

error-color-dark = #dc3023 // 酡红

font-color = #392f41 // 乌黑

font-color-sub = #41555d // 黯

font-color-disable = #bacac6 // 老银

title-color = #424c50 // 鸦青

title-color-sub = #50616d // 墨色

title-color-addition = #758a99 // 墨灰

border-color = #c2ccd0 // 花白

border-color-dark = #75878a // 苍色

background-color = #e0eee8 // 鸭卵青
